<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="./../css/styles.css">
</head>
<body>
    <header>
        <h1>Mi Empresa</h1>
        <nav>
            <a href="./../index.html">Inicio</a>
            <a href="./galeria.html" class="active">Galeria</a>
            <a href="./presupuesto.html">Presupuesto</a>
            <a href="./contacto.html">Contacto</a>
        </nav>
    </header>

    <main>
        <h2>Galeria de Imágenes</h2>
        <div class="gallery">
            <img src="./../images/img1.jpg" alt="Producto 1: Diseño moderno en color negro" width="350" height="250">
            <img src="./../images/img2.jpg" alt="Producto 2: Diseño clásico en color marrón" width="380" height="280">
            <img src="./../images/img3.jpg" alt="Producto 3: Diseño minimalista en color blanco" width="400" height="300">
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Mi Empresa</p>
        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank">
                <img src="./../images/instagram.png" alt="Instagram" class="social-icon" width="30" height="30">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="./../images/ffacebook.png" alt="Facebook" class="social-icon" width="30" height="30">
            </a>
        </div>
        <div class="company-info">
            <p><a href="https://maps.app.goo.gl/LipC6ixx2EDWgt1s7" target="_blank">Dirección: Av. del Comercio, 11</a></p>
            <p><a href="aviso-legal.html" target="_blank">Aviso Legal</a></p>
        </div>
    </footer>
</body>
</html>